[Unit]
Description=Gunicorn instance to serve dormer
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/dormer
Environment="PATH=/home/ubuntu/dormer/dormerenv/bin"
ExecStart=/home/ubuntu/dormer/dormerenv/bin/gunicorn --workers 3 --bind unix:dormer.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target