<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- page title -->
    <title>{% block title %}page title{% endblock %}</title>

    <!-- charset, optimized for mobile -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    {% block meta %}<!-- block for any custom META content -->
    {% endblock %}<!-- end meta block -->

    <!-- bootstrap base css -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- custom bootstrap css -->
    <link href="{{ url_for('static', filename='bootstrap_mansard.css') }}" rel="stylesheet">

    <!-- bootstrap-table css -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.css">

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Source+Code+Pro|Source+Serif+Pro&display=swap" rel="stylesheet">

    <!-- fontawesome icons 11-29-2019 @ https://www.bootstrapcdn.com/fontawesome/ -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    {% block css %}<!-- block for any custom CSS content -->
    {% endblock %}<!-- end css block -->

    {% block head %}<!-- block for any custom HEAD content-->
    {% endblock %}<!-- end head block -->
  </head>

  <body>
    <header>
      <div>
        {% block header %}
        <!-- nav/header content goes here -->
        {% endblock %}
      </div>
    </header>
    <!-- end header block -->

    <main>
      {% block bootstrap_container_open %}
      <!-- open bootstrap container using <div class="container">, remove this block if not desired -->
      <div class="container">
      {% endblock %}

      {% block content %}
      <!-- page main content goes here -->
      {% endblock %}

      {% block bootstrap_container_close %}
      <!-- close bootstrap container div, remove if fullscreen desired -->
      </div>
      {% endblock %}

      <!-- end content block -->
    </main>

    {% block footer %}
    <!-- footer content goes here -->
    {% endblock %}
    <!-- end footer block, end html content -->


    <!-- add all javascript at end of body for optimized loading -->

    <!-- javascript for bootstrap 11-29-2019 @ https://www.bootstrapcdn.com -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>

    <!-- bootstrap-table Latest compiled and minified JavaScript 11-29-2019 @ https://bootstrap-table.com-->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css">
    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>

    {% block js %}
    <!-- additional javascript for specific pages goes here -->
    {% endblock %}<!-- end javascript block, end of document -->

  </body>
</html>
